.footer-section {
  background-color: #073b7a;
  color: white;
  padding: 10px 20px 30px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto 40px;
  gap: 100px;
}

.footer-col {
  flex: 1;
  min-width: 200px;
}

.footer-col h4,
.brand h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.footer-col p,
.brand p {
  font-size: 0.95rem;
  margin: 6px 0;
}

.footer-col a {
  color: #fff;
  text-decoration: underline;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 20px;
  flex-wrap: wrap;
}

.footer-lang,
.footer-copy {
  font-size: 0.9rem;
}

.footer-social {
  display: flex;
  gap: 15px;
  font-size: 1rem;
  color: white;
}
